<div style='display: flex; flex-direction: column; align-items:center'>
  <%= image_tag attachments['banana.png'].url, alt: 'Uma banana mordida', width: 320, height: 447.5 %>

  <p>
    Foto de
    <%= link_to 'charlesdeluvio',
                'https://unsplash.com/pt-br/@charlesdeluvio?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText'
    %>
    na
    <%= link_to 'Unsplash',
                'https://unsplash.com/pt-br/fotografias/0v_1TPz1uXw?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText'
    %>
  </p>
</div>
